<div class="card" style="max-width: 202px;">

  <!-- Heading -->
  <div class="card-body">
    <h4 class="card-title">Sun Gone</h4>
    <h6 class="card-subtitle text-muted">Sun disappears!</h6>
  </div>

  <!-- Image -->
  <img src="/pix/samples/12s.jpg" alt="Photo of sunset">

  <!-- Text Content -->
  <div class="card-body">
    <p class="card-text">The sun disappeared behind the horizon today. Experts claim it could be gone for good!</p>
  </div>

</div>

<div class="card text-center" style="max-width: 202px;">

<!-- Heading -->
<div class="card-body">
<h4 class="card-title">Sun Gone</h4>
<h6 class="card-subtitle text-muted">Sun disappears!</h6>
</div>

<!-- Image -->
<img src="/pix/samples/12s.jpg" alt="Photo of sunset">

<!-- Text Content -->
<div class="card-body">
<p class="card-text">The sun disappeared behind the horizon today. Experts claim it could be gone for good!</p>
<a href="#" class="btn btn-primary">Full Report</a>
</div>

</div>
